.app{
    height: 100vh;
    display: flex;
    background-color: #020230;
    color: white;
}
.main{
    width: 75%;
    background: linear-gradient(to bottom, rgba(0,0,0,0),#020230), url('./Assets/image.png') center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.endText{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.top{
    height: 50%;
    position: relative;
}
.timer{
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 75px;
    left: 18px;
}
.bottom{
    height: 50%;
}
.trivia{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.question{
    width: 80%;
    border: 2px solid white;
    border-radius: 5px;
    background: linear-gradient(#100241,black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
}
.answers{
    width: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.answer{
    width: 40%;
    text-align: center;
    border: 1px solid white;
    border-radius: 15px;
    padding: 10px;
    background: linear-gradient(#0e0124,#22074d);
    margin: 0 10px 20px 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
}
.answer:hover, 
.answer.active{
    background: mediumblue;
}
.answer.correct{
    animation: correct 3s ease forwards;
}
@keyframes correct{
    0%,22%,42%{
        background: mediumblue;
    }
    20%,40%,60%{
        background: linear-gradient(#0e0124,#22074d);
    }
    60%,100%{
        background: green;
    }
}

.answer.incorrect{
    animation: incorrect 3s ease forwards;
}
@keyframes incorrect{
    0%,22%,42%{
        background: mediumblue;
    }
    20%,40%,60%{
        background: linear-gradient(#0e0124,#22074d);
    }
    60%,100%{
        background: crimson;
    }
}

.pyramid{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moneyList{
    list-style: none;
    width: 100%;
    padding: 20px;
}
.moneyListItem{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}
.moneyListItem.active{
    background-color: teal;
}
.moneyListItemNumber{
    font-size: 18px;
    font-weight: 100;
    width: 30%;
}
.moneyListItemAmount{
    font-size: 20px;

}

.start{
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.startInput{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}
.startInput:focus{
    outline: none;
}
.startButton{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}